/*
  Global CSS file
*/

.color-primary-0 { color: #343d46 }
.color-primary-1 { color: #6a757f }
.color-primary-2 { color: #4d5863 }
.color-primary-3 { color: #1d2730 }
.color-primary-4 { color: #121f2c }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal;
}

::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 300;
}

::-moz-placeholder {
  color: #aaa;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #aaa;
  font-weight: 300;
}

input:-moz-placeholder {
  color: #aaa;
  font-weight: 300;
}

body {
  background: #343d46;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
