.wrapper {
  padding: 32px 0;
  width: 100%;
  display: flex;
}

.avatar {
  max-width:200px;
  max-height:200px;
  width: auto;
  height: auto;
  border-radius: 5px;
  order: 1;
  align-self: center;
  margin-right: 30px;
}

.userInfo {
  padding-top: 5px;
  order: 2;
  width: 200px;
  align-self: center;
}

.userInfo > span {
  margin: 0 5px 10px;
}
